.friends-box {
    width: 100vw;
    height: 100vh;
}

.friends {
    color: white;
    text-align: center;
    font-family: "Epidemic", sans-serif;
    display: block;
}

.my-friends {
    padding: 10px;
    column-gap: 50px;
    display: flex;
    justify-content: center;
}

.friends-list-ul {
    padding: 20px;
    background-color: #767676;
    width: 35vw;
}