.login-form {
    box-shadow: none;
}

.title {
    display: none;
}

.music-list-ul {
    border: 1px solid rgba(118, 118, 118, 0.055);
    margin-top: none;
    width: none;
    text-align: center;
}