$font: "Epidemic", sans-serif;

.header {
    text-align: center;
    font-family: $font;
    color: white;
}

span {
    color: #1fa669;
}

h2 {
    font-family: $font;
    color: white;
}

.random-music {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 50px;

}

.music-list-ul {
    margin-top: none;
    width: none;
    text-align: center;
    font-family: $font;
    color: white;
    background-color: #767676;
    padding: 20px;
}

.music-container {
    padding: 2rem;
    margin: auto;
    display: block;
    margin-top: 5vh;
}

.music-first-text {
    text-align: center;
    font-family: $font;
    font-size: 20px;
    color: white;
}