$font: "Epidemic", sans-serif;

.header {
    text-align: center;
    font-family: $font;
    color: white;
}

span {
    color: #1fa669;
}

.title-category {
    font-family: $font;
    color: white;
    background-color: none;
}

.random-album {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 50px;
    display: flex;
    justify-content: center;
}

.music-list-ul {
    margin-top: none;
    width: 35vw;
    text-align: center;
    font-family: $font;
    color: white;
    background-color: #767676;
    padding: 20px;
}

.music-container {
    padding: 2rem;
    margin: auto;
    display: block;
    margin-top: 5vh;
    width: 100vw;
}

.music-first-text {
    text-align: center;
    font-family: $font;
    font-size: 20px;
    color: white;
}

.loading {
    font-size: 60px;
}

.photo {
    height: 300px;
    width: 300px;
}

@media only screen and (max-width: 884px){
    .photo {
        width: 150px;
        height: 150px;
    }
}