@import '../components/Login/_login.scss';
@import '../components/LikedMusic/_likedMusic.scss';
@import '../components/Navbar/_navbar.scss';
@import '../components/Music/_music.scss';
@import '../components/MyMusic/_myMusic.scss';
@import '../components/Users/_users.scss';
@import '../components/Friends/_friends.scss';


* {
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.App {
    background-color: #0F0F0F;
}

button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

.app-name {
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
    position: relative;
    top: 15vw
}
