@import '../components/Login/_login.scss';
@import '../components/LikedMusic/_likedMusic.scss';
@import '../components/Navbar/_navbar.scss';
@import '../components/Music/_music.scss';

* {
    padding: 0;
    -webkit-font-smoothing: antialiased;
}


.App {
    background-color: #0F0F0F;
}

.app-name {
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
    position: relative;
    top: 15vw
}
