.liked-music {
    width: 100vw;
    padding: 10px;
}

.my-music {
    column-gap: 50px;
    display: flex;
    justify-content: center;
}

.music-list-ul {
    margin-top: none;
    width: 35vw;
    text-align: center;
    font-family: $font;
    color: white;
    background-color: #767676;
    padding: 20px;
}

@media only screen and (max-width: 884px){
    .photo {
        width: 150px;
        height: 150px;
    }
}
