/* line 1, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.app {
  width: 100vw;
  height: 100vh;
}

/* line 6, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 12, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

/* line 22, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
input[type="submit"]:hover {
  background: #6cf0c2;
}

/* line 26, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.button-container {
  display: flex;
  justify-content: center;
}

/* line 31, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  width: 35vw;
  display: block;
  margin-top: 35vh;
}

/* line 41, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.list-container {
  display: flex;
}

/* line 45, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.error {
  color: red;
  font-size: 12px;
}

/* line 50, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.title {
  font-size: 25px;
  margin-bottom: 20px;
}

/* line 55, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Login/_login.scss */
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

/* line 1, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Navbar/_navbar.scss */
a {
  color: white;
}

/* line 3, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Navbar/_navbar.scss */
:link {
  text-decoration: none;
  font-family: "Epidemic", sans-serif;
  font-size: 25px;
  padding: 14px 25px;
  display: inline-block;
  justify-content: space-between;
  border: 3px solid white;
}

/* line 11, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Navbar/_navbar.scss */
:hover {
  color: #1fa669;
}

/* line 15, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Navbar/_navbar.scss */
nav {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 750px) {
  /* line 21, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Navbar/_navbar.scss */
  nav {
    display: grid;
  }
}

/* line 3, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.header {
  text-align: center;
  font-family: "Epidemic", sans-serif;
  color: white;
}

/* line 9, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
span {
  color: #1fa669;
}

/* line 13, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.title-category {
  font-family: "Epidemic", sans-serif;
  color: white;
  background-color: none;
}

/* line 19, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.random-album {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 50px;
  display: flex;
  justify-content: center;
}

/* line 28, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.music-list-ul {
  margin-top: none;
  width: 35vw;
  text-align: center;
  font-family: "Epidemic", sans-serif;
  color: white;
  background-color: #767676;
  padding: 20px;
}

/* line 38, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.music-container {
  padding: 2rem;
  margin: auto;
  display: block;
  margin-top: 5vh;
  width: 100vw;
}

/* line 46, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.music-first-text {
  text-align: center;
  font-family: "Epidemic", sans-serif;
  font-size: 20px;
  color: white;
}

/* line 53, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.loading {
  font-size: 60px;
}

/* line 57, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
.photo {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width: 884px) {
  /* line 63, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Music/_music.scss */
  .photo {
    width: 150px;
    height: 150px;
  }
}

/* line 1, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/MyMusic/_myMusic.scss */
.liked-music {
  width: 100vw;
  padding: 10px;
}

/* line 6, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/MyMusic/_myMusic.scss */
.my-music {
  column-gap: 50px;
  display: flex;
  justify-content: center;
}

/* line 12, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/MyMusic/_myMusic.scss */
.music-list-ul {
  margin-top: none;
  width: 35vw;
  text-align: center;
  font-family: "Epidemic", sans-serif;
  color: white;
  background-color: #767676;
  padding: 20px;
}

@media only screen and (max-width: 884px) {
  /* line 23, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/MyMusic/_myMusic.scss */
  .photo {
    width: 150px;
    height: 150px;
  }
}

/* line 1, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Users/_users.scss */
.user-box {
  height: 100vh;
  width: 100vw;
}

/* line 6, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Users/_users.scss */
.users {
  color: white;
  font-family: "Epidemic", sans-serif;
  background-color: #767676;
  padding: 20px;
  width: 35vw;
  display: block;
  margin-left: 30vw;
  margin-top: 25px;
  text-align: center;
}

/* line 1, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Friends/_friends.scss */
.friends-box {
  width: 100vw;
  height: 100vh;
}

/* line 6, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Friends/_friends.scss */
.friends {
  color: white;
  text-align: center;
  font-family: "Epidemic", sans-serif;
  display: block;
}

/* line 13, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Friends/_friends.scss */
.my-friends {
  padding: 10px;
  column-gap: 50px;
  display: flex;
  justify-content: center;
}

/* line 20, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/components/Friends/_friends.scss */
.friends-list-ul {
  padding: 20px;
  background-color: #767676;
  width: 35vw;
}

/* line 10, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/scss/style.scss */
* {
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 15, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/scss/style.scss */
.App {
  background-color: #0F0F0F;
}

/* line 19, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/scss/style.scss */
button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

/* line 29, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/scss/style.scss */
.app-name {
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
  position: relative;
  top: 10vw;
}

/* line 38, ../../../../../Users/durreshewarmalik/repos/Examens Arbete/friendly-music-frontend/friendly-music/src/scss/style.scss */
header > button {
  margin-left: 800px;
}

/*# sourceMappingURL=style.css.map */