a {
    color: white;
}:link {
    text-decoration: none;
    font-family: "Epidemic", sans-serif;
    font-size: 25px;
    padding: 14px 25px;
    display: inline-block;
    justify-content: space-between;
    border: 3px solid white;
}:hover {
    color: #1fa669;
}

nav {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 750px){
    nav {
        display: grid;
    }
}